<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<form th:action="@{/admin/uploadPost}" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="group">Select a Group:</label>
        <select id="group" name="groupId">
            <option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}"></option>
        </select>
    </div>

    <div class="form-group">
        <label for="subject">Select a Subject:</label>
        <select id="subject" name="subjectId">
            <option th:each="subject : ${subjects}" th:value="${subject.getId()}" th:text="${subject.name}"></option>
        </select>
    </div>


    <label for="file">Select PDF file:</label>
    <input type="file" id="file" name="file" accept=".pdf" required><br><br>

    <label for="name">Set name for book:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="author">Book author:</label>
    <input type="text" id="author" name="author" required>

    <input type="submit" value="Upload Book">
</form>
</body>

</html>