<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload</title>
</head>
<body>
<form th:action="@{/admin/uploadPost}" method="post" enctype="multipart/form-data">

    <b1 th:text="${subjects.get(0).getGroup().getName()}"></b1>

    <div class="form-group">
        <label for="subject">Select a Subject:</label>
        <select id="subject" name="subjectName">
            <option th:each="subject : ${subjects}" th:value="${subject.getName()}" th:text="${subject.name}"></option>
        </select>
    </div>

    <label for="file">Select PDF file:</label>
    <input type="file" id="file" name="file" accept=".pdf" required><br><br>

    <label for="name">Set name for book:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="author">Book author:</label>
    <input type="text" id="author" name="author" required>

    <input type="hidden" th:name="groupId" th:value="${subjects.get(0).getGroup().getId()}">

    <input type="submit" value="Upload Book">
</form>
</body>

</html>