<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Бібліотека SCLNAU</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-icons.css" rel="stylesheet">

    <link rel="stylesheet" href="css/slick.css"/>

    <link href="css/tooplate-little-fashion.css" rel="stylesheet">

    <style>
        @media (min-width: 991px) {
            .dropdown-menu.center {
                left: 70% !important;
                transform: translateX(-70%);
            }
        }
    </style>

</head>

<body>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<main>

    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="navbar-brand" th:href="@{/}">
                <strong><span>Бібліотека</span> SCLNAU</strong>
            </a>

            <div class="d-lg-none">
                <a href="sign-in.html" class="bi-person custom-icon me-3"></a>

            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/}">Головна</a>
                    </li>

                    <a class="nav-link"  id="booksDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Книги
                    </a>
                    <ul class="dropdown-menu center" id="cssmenu" aria-labelledby="booksDropdown"
                        style="
                                       max-height:550px;
                                       overflow-x:hidden;
                                       overflow-y:visible;">
                        <li>
                            <a class="dropdown-item group-name" data-toggle="collapse" th:href="@{/user/upload}">Добавити книгу</a>
                        </li>
                        <li th:each="group : ${groups}">
                            <a class="dropdown-item group-name" data-toggle="collapse" data-target="#group-${group.id}">
                                <span th:text="${group.getName()}"></span>
                            </a>
                            <ul id="group-${group.id}" class="collapse">
                                <li th:each="subject : ${group.getSubjects()}">
                                    <a class="dropdown-item subject-name" data-toggle="collapse" data-target="#subject-${subject.id}">
                                        <span th:text="${subject.getName()}"></span>
                                    </a>
                                    <ul id="subject-${subject.id}" class="collapse">
                                        <li th:each="book : ${subject.getBooks()}">
                                            <a th:href="@{/pdf/previewPDF/{id}(id=${book.getId()})}" class="dropdown-item book">
                                                <span th:text="${book.getName()}"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>



                    <li class="nav-item">
                        <a class="nav-link" href="https://sclnau.com.ua">Сайт коледжу</a>
                    </li>
                </ul>

                <div class="d-none d-lg-block">
                    <a href="sign-in.html" class="bi-person custom-icon me-3"></a>
                </div>
            </div>
        </div>
    </nav>

<section class="preloader">
    <div class="spinner">
        <span class="sk-inner-circle"></span>
    </div>
</section>

<section class="featured-product section-padding">
    <div class="container">
        <div class="row">

            <th:block th:each="group : ${groups}">
                <div class="col-lg-4 col-12 mb-3">
                    <div class="product-thumb">
                        <a th:href="@{/user/upload/{id}(id=${group.getId()})}">
                            <img th:src="${group.getImage()}" class="img-fluid product-image" alt="Group image" style="height: 330px; width: 330px">
                        </a>

                        <div class="product-top d-flex">
                            <span class="product-alert me-auto">Група</span>
                        </div>

                        <div class="product-info d-flex">
                            <div>
                                <h5 class="product-title mb-0">
                                    <a th:href="@{/user/upload/{id}(id=${group.getId()})}" class="product-title-link" th:text="${group.getName()}"></a>
                                </h5>

                                <p class="product-p">Якийсь підпис</p>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>

        </div>
    </div>

</section>

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-10 me-auto mb-4">
                <h4 class="text-white mb-3"><a th:href="@{/}">Бібліотека</a> SCLNAU</h4>
                <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Little Fashion</strong></p>
                <br>
                <p class="copyright-text">Designed by <a href="https://www.tooplate.com/" target="_blank">Tooplate</a></p>
            </div>

            <div class="col-lg-5 col-8">
                <h5 class="text-white mb-3">Sitemap</h5>

                <ul class="footer-menu d-flex flex-wrap">
                    <li class="footer-menu-item"><a href="/about.html" class="footer-menu-link">Story</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                    <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-4">
                <h5 class="text-white mb-3">Social</h5>

                <ul class="social-icon">

                    <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                    <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                    <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="#" class="social-icon-link bi-skype"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/Headroom.js"></script>
<script src="/js/jQuery.headroom.js"></script>
<script src="/js/slick.min.js"></script>
<script src="/js/custom.js"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>


<script>
    $(document).ready(function() {
        $(".group-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });

        $(".subject-name").click(function() {
            $(this).next(".collapse").toggleClass("show");
        });
    });

    const dropdownContent = document.querySelector('.dropdown');

    dropdownContent.addEventListener('click', function (e) {
        e.stopPropagation();
    });

    document.addEventListener('click', function () {
        dropdownContent.style.display = 'none';
    });
</script>

<script>
    document.querySelector('.dropdown-menu').addEventListener('click', function(event) {
        event.stopPropagation();
    });
</script>
</html>