<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-3 col-10 me-auto mb-4">
                <h4 class="text-white mb-3"><a th:href="@{/}">Бібліотека</a> SFCLNUP</h4>
                <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">© 2023 <strong>СФК ЛНУП</strong></p>
                <br>
                <p class="copyright-text">Розробка: Студенти групи К-41 Огоновський Ю.М., Халус І.І.</p>
            </div>

            <div class="col-lg-5 col-8">
                <h5 class="text-white mb-3">Меню</h5>

                <ul class="footer-menu d-flex flex-wrap">
                    <li class="footer-menu-item"><a th:href="@{/}" class="footer-menu-link">Головна</a></li>

                    <li class="footer-menu-item"><a th:href="@{/groups}" class="footer-menu-link">Добавити книгу</a></li>

                    <li class="footer-menu-item"><a th:href="@{/auth/login}" class="footer-menu-link">Увійти</a></li>

                    <li class="footer-menu-item"><a th:href="@{/auth/registration}" class="footer-menu-link">Реєстрація</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-4">
                <h5 class="text-white mb-3">Мережі</h5>

                <ul class="social-icon">

                    <li><a href="https://www.facebook.com/groups/sclnau" class="social-icon-link bi-facebook"></a></li>

                    <li><a href="https://t.me/sclnau" class="social-icon-link bi-telegram"></a></li>

                    <li><a href="https://www.instagram.com/stryicollege/" class="social-icon-link bi-instagram"></a></li>

                    <li><a href="https://www.youtube.com/channel/UCOB4xAFAC2Btl59mO7C82og" class="social-icon-link bi-youtube"></a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>

</body>
</html>